
<body>
    <div class="wrapper">
        <div class="header">
            <div id="logo">
                <h1 text-align="left" margin-top="550px" margin-left="50px"><span>B</span>EETLE</h1>
            </div>
            <div id="navbar">
                <nav>

                    <ul>
                       
                        <li><a href="/signuppageOwner">Sign Up(Manager)</a></li>
                         <li><a href="/signuppageMember">Sign Up(Employee)</a></li>
                        <li><a href="/signinpageOwner">Login(Manager)</a></li>
                        <li><a href="/signinpageMember">Login(Employee)</a></li>
                        {{!-- <li><a href="/aboutpage">About Us</a></li>
                        <li><a href="/">Help</a></li> --}}

                    </ul>

                </nav>


            </div>
        </div>


        <div id="content">
            
            <h1>Experience the leisure</h1>
            <!-- <button type="button" class="btn btn-primary btn-lg" >BootNik</button> -->
            <!-- <h3><button type="button" class="btn btn-primary">Try BootNik</button></h3> -->


        
    </div>
</body>

