<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SignIn</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="/fonts/linearicons/style.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/javascripts/signin.js"></script>
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<img src="/images/image1.png" alt="" class="image-1">
				<form>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" id="email" class="form-control" placeholder="Mail">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" id="password" class="form-control" placeholder="Password">
					</div>
					
					<button onclick="login()" type="button">
						<span>Login</span>
					</button>
					<div>
						<p style="color: red;" id="error"></p>
					</div>
				</form>
				<img src="/images/image2.png" alt="" class="image-2">
			</div>
			
		</div>
		
	</body>
</html>